.search_container {
		width: 350px;
		height: 50px;
		line-height: 1.5em;
	}

	.search_month {
		float: left;
		background: #E24235;
		border: none;
		border-radius: 5px;
		position: relative;
		padding-right: 3px;
		color: #fff;
		cursor: pointer;
		box-shadow: 2px 2px 2px rgba(86, 24, 24, 0.4);
	}

	.select_month {
		height: 35px;
		float: left;
		overflow: hidden;
		display: inline-block;
		color: #fff;
		font-weight: 300;
		font-family: "helvetica neue", arial;
		position: relative;
		cursor: pointer;
		padding: 0px 15px;
		line-height: 2em; 
	}

	.select_month {
		width: 180px;
		background-position: 115px 9px;
		background-size: 13px 13px;
	}

	.select {
		width: 100%;
		height: 30px;
		background: #fff;
	}

	.option {
		border-bottom: 1px solid #eee;
		font-size: .9em;
		background: #FF8C8C;
		height: 30px;
	}

	.option:last-child {
		border-radius: 0 0 2px 2px;
	}

	.option:hover {
		background: #A63434;
		color: #fff;
	}
	
	i{
		font-size: 1.5em;
	}

	.fa{
		line-height: 1.5em;
	}

	.month_combo {
		position: absolute;
		width: 220px;
		max-height: 90px;
		overflow-y: auto;
		top: 38px;
		left: 2px;
		text-align: center;
		list-style: none;
		background: rgba(255, 255, 255, 1);
		border-radius: 0 0 2px 2px;
		box-shadow: .6px .6px 0px rgba(0, 0, 0, .4);
		border-radius: 3px;
		border-top: 1px solid #eee;
		display: none;
		cursor: pointer;
		margin:0;
		padding:0;
		border:1px solid #eee;
		scrollbar-face-color: #367CD2;
		scrollbar-shadow-color: #FFFFFF;
		scrollbar-highlight-color: #FFFFFF;
		scrollbar-3dlight-color: #FFFFFF;
		scrollbar-darkshadow-color: #FFFFFF;
		scrollbar-track-color: #FFFFFF;
		scrollbar-arrow-color: #FFFFFF;
	}


	.month_combo::-webkit-scrollbar {
		width: 12px;
	}

	/* Track */
	.month_combo::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(127,31,82,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
	}

	/* Handle */
	.month_combo::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #A63434; 
		-webkit-box-shadow: inset 0 0 6px rgba(127,31,82,0.5); 
	}

	.active{
		background: #434343;
		color: #fff;
	}

	.arrow{
		width: 12px;
		height: 30px;
		position: relative;
		background: transparent;
		content: '';
		float: right;
	}

	.arrow:before{
		width: 6px;
		height: 30px;
		position: absolute;
		content: '';
		top: 3px;
		left: 0px;
		background-image: linear-gradient(45deg,transparent,transparent 12px,white 12px,white 14px,transparent 15px);
	}

	.arrow:after{
		width: 6px;
		height: 30px;
		position: absolute;
		top: 1px;
		right: 0px;
		content: '';
		background-image: linear-gradient(132deg,transparent,transparent 12px,white 12px,white 14px,transparent 15px);
	}